---
import { Astro } from `@astro/astro - learn`;
import 'tailwindcss/tailwind.css';
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Aries Info</title>
    </head>
<body class="bg-pink-100">
    <header class="bg-white shadow">
        <div class="container mx-auto px-6 py-3">
            <div class="text-center mb-4 sm:mb-0"> 
                <h1 class="text-3xl font-bold">Aries Zodiac Sign</h1>
                <p class="mb-6"> Learn more about the Aries Zodiac Sign Below!</p>
            </div>
            <a href="/" class="absolute top-3 left-3">
                <img src ="/img/home.png" alt="Home Icon" class="w-6 h-6"/>
            </a>
        </div>
    </header>
<h2 class="text-2xl font-bold text-center mt-8">Aries Traits:</h2> 
<div class="text-center mb-6">
    <p class="border-2 border-black mb-6 p-4 rounded"> Aries are known for their leadership qualities, courage, and determination. They are also known for their impulsive nature and can be quite impatient. Aries are also known for their competitive nature and are always up for a challenge. </p>
    <img src="/img/aries.jpg" alt="Aries Zodiac Sign" class="w-1/2 mx-auto"/>
</div>