---
import { Astro } from `@astro/astro-learn`;
import 'tailwindcss/tailwind.css';
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Cancer Info</title>
    </head>
    <body class="bg-pink-100">
        <header class="bg-white shadow">
            <div class="container mx-auto px-6 py-3">
                <div class="text-center mb-4 sm:mb-0"> 
                    <h1 class="text-3xl font-bold">Cancer Zodiac Sign</h1>
                    <p class="mb-6"> Learn more about the Cancer Zodiac Sign Below!</p>
                </div>
                <a href="/" class="absolute top-3 left-3">
                    <img src ="/img/home.png" alt="Home Icon" class="w-6 h-6"/>
                </a>
            </div>
        </header>
    <h2 class="text-2xl font-bold text-center mt-8">Cancer Traits:</h2>
    <div class="text-center mb-6">
        <p class="border-2 border-black mb-6 p-4 rounded"> Cancers are known for their emotional intelligence and their ability to connect with others on a deep level. They are highly intuitive and empathetic, making them great listeners and friends. Cancers are also known for their nurturing and caring nature, and they are always willing to lend a helping hand to those in need. They are deeply connected to their emotions and are not afraid to express them, making them highly sensitive and compassionate individuals. Cancers are also known for their loyalty and devotion to their loved ones, and they will go to great lengths to protect and support those they care about. </p>
        <img src="/img/cancer.jpg" alt="Cancer Zodiac Sign" class="w-1/2 mx-auto"/>
    </div> 