---
import { Astro } from `@astro/astro-learn`;
import 'tailwindcss/tailwind.css';
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Taurus Info</title>
    </head>
    <body class="bg-pink-100">
        <header class="bg-white shadow">
            <div class="container mx-auto px-6 py-3">
                <div class="text-center mb-4 sm:mb-0"> 
                    <h1 class="text-3xl font-bold">Taurus Zodiac Sign</h1>
                    <p class="mb-6"> Learn more about the Taurus Zodiac Sign Below!</p>
                </div>
                <a href="/" class="absolute top-3 left-3">
                    <img src ="/img/home.png" alt="Home Icon" class="w-6 h-6"/>
                </a>
            </div>
        </header>
    <h2 class="text-2xl font-bold text-center mt-8">Taurus Traits:</h2>
    <div class="text-center mb-6">
        <p class="border-2 border-black mb-6 p-4 rounded">Taurus, the second sign of the zodiac (April 20 - May 20), is known for its reliability, practicality, and strong work ethic. Represented by the Bull, Taureans are dependable and patient, often displaying a steadfast commitment to their goals and relationships. They have a deep appreciation for comfort and luxury, enjoying the finer things in life. Ruled by Venus, they are sensual and have a strong connection to beauty and physical pleasures. However, their determination can also manifest as stubbornness, making them resistant to change. Overall, Taurus individuals value security, stability, and the tangible aspects of life.</p>
        <img src="/img/cancer.jpg" alt="Cancer Zodiac Sign" class="w-1/2 mx-auto"/>
    </div> 